/* Center the dropdown box */
.navbar .nav-item.dropdown .hoverDropdown {
    left: 50%;
    transform: translateX(-50%);
}


.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Customize the shadow here */
}