<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css' media='screen'>
</head>
<body>
  <header>
    <%- include('../header/header.ejs'); %>
  </header>
    
    <!-- <div id="header"></div> -->
  
    
    <h1>About us</h1>
    <!-- <script>
        // Use jQuery to load and insert header.html
        $(document).ready(function () {
          $('#header').load('./src/views/header/header.ejs');
        });
      </script> -->
</body>
</html>