<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" />
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- custom css file -->
    <link rel="stylesheet" href="css/login.css" />
    <title>Login</title>
</head>

<body class="d-flex justify-content-center flex-column align-items-center">
    <div class="container" id="container">
        <!-- SIGNUP -->
        <div class="form-container sign-up">
            <!--form with validation-->
            <form class="needs-validation" novalidate>        
                <h1 class="h3 fw-bold">Create Account</h1>

                <div class="social-icons">
                        <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-google"></i></a>
                        <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-github"></i></a>
                </div>

                <span>or use your Email for registeration</span>

                <!-- made it with input-group class so span and input can be in the same line on boostrap -->
                <!-- First Name input -->
                <div class="input-group has-validation">
                    <input type="name" placeholder="First Name" class="form-control border border-0" id="Firstname"
                        required />
                    <!-- Validation -->
                    <div class="invalid-tooltip" id="firstname-alert">What is your first name?</div>
                </div>
                <!-- Last Name input -->
                <div class="input-group has-validation">
                    <input type="name" placeholder="Last Name" class="form-control border border-0" id="Lastname"
                        required />
                    <!-- Validation -->
                    <div class="invalid-tooltip" id="lastname-alert">What is your last name?</div>
                </div>

                <!-- Email input -->
                <div class="input-group has-validation">
                    <span class="input-group-text border border-end border-start-0 border-top-0 border-bottom-0"
                        id="validationForEmail">@</span>
                    <input type="email" id="SignUpEmail" placeholder="Email" class="form-control border border-0"
                        aria-describedby="validationForEmail" required />
                    <!-- Validation -->
                    <div class="invalid-tooltip" id="gmail-alert">
                        Please choose a unique and valid gmail. You'll use this when you log in and if you ever need to
                        reset your password.
                    </div>
                </div>

                <!-- Password input -->
                <div class="input-group has-validation">
                    <input type="password" id="signupPassword" placeholder="New Password"
                        class="form-control border border-0" aria-describedby="PasswordSignUp" required />
                    <span class="input-group-text border border-0" id="PasswordSignUp">
                        <i class="fa-solid fa-eye" id="show-password"></i>
                    </span>

                    <!-- Validation -->
                    <div class="invalid-tooltip d-none" id="password-alert">
                        <ul class="list-unstyled mb-0">
                            <li class="leng" id="leng">
                                Your password must have at least 8 chars
                            </li>
                            <li class="capital is-invalid" id="capital">
                                Your password must have at least 1 capital letter.
                            </li>
                            <li class="number" id="number">
                                Your password must have at least 1 number.
                            </li>
                            <li class="special-char" id="special-char">
                                Your password must have at least 1 special char.
                            </li>
                            <li class="lowercase" id="lowercase">
                                Your password must have at least 1 lowercase letter.
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Confirm Password input -->
                <div class="input-group has-validation">
                    <input type="password" id="confirmPassword" placeholder="Confirm Password"
                        class="form-control border border-0" aria-describedby="ConfirmPasswordSignUp" required />
                    <span class="input-group-text border border-0" id="ConfirmPasswordSignUp">
                        <i class="fa-solid fa-eye" id="show-confirmpassword"></i>
                    </span>

                    <!-- Validation -->
                    <div class="invalid-tooltip d-none" id="passwordMatch">
                        Password not matching.
                    </div>
                </div>


                <!-- Confirm Agree to the terms -->
                <div class="form-outline mb-3 text-center justify-content-center">
                    <div class="input-group has-validation">
                        <input class="form-check-input has-validation me-2" type="checkbox" value="" id="agreeCheck"
                            aria-describedby="invalidCheck3Feedback" unchecked required />
                        <div>
                            <label class="form-check-label" id="invalidCheck3Feedback" for="agreeCheck">I have read and
                                agreed to the terms</label>
                        </div>
                        <div class="invalid-tooltip">
                            You must agree before submitting.
                        </div>
                    </div>

                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block" id="SignUp">
                    SIGN UP
                </button>
            </form>
        </div>
        <!-- SIGNIN -->
        <div class="form-container sign-in">
            <form>
                <h1 class="h3 fw-bold">Sign In</h1>
                
                <div class="social-icons">
                    <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-google"></i></a>
                    <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="justify-content-center align-items-center d-inline-flex icon"><i class="fab fa-github"></i></a>
                </div>

                <span>or</span>
                <input type="email" id="loginName" placeholder="Email" class="form-control border border-0"
                    required="" />
                <input type="password" id="loginPassword" placeholder="Password" class="form-control border border-0"
                    required="" />
                <div class="text-center mb-2">
                    <!-- Remember me Checkbox -->
                    <input class="form-check-input" type="checkbox" value="" id="loginCheck" unchecked />
                    <label class="form-check-label" for="loginCheck">Remember me</label>
                    <br />
                    <!-- Forget your password -->
                    <a class="text-decoration-none" href="#">Forget Your Password?</a>
                </div>

                <button type="submit" class="btn btn-primary btn-block" id="SignIn">
                    SIGN IN
                </button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1 class="h3 fw-bold">Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1 class="h3 fw-bold">Hello, Friend!</h1>
                    <p>
                        Register with your personal details to use all of site features
                    </p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
                        <h1>Login</h1>
                    </div>
                    <form class='login' action="#" method="post">
                        <div>
                            <div>
                                <input type="text" name="username" id="username" placeholder='Username' autofocus="1">
                            </div>
                            <div class="password-container">
                                <input type="password" name="password" id="password" placeholder='Password'
                                    autofocus="1">
                                <a href="#" role="button"></a>
                                <i class="fa-solid fa-eye" id="show-password"></i>
                            </div>
                            <p><a href="/">
                                    Log in
                            </p></a>
                            <div>
                                <a href="/login/passwordrecovery">Forgotten password?</a>
                            </div>

                        </div>
                        <form>
                            <p><a href="/register">
                                    Create a new account
                            </p></a>
                        </form>
                    </form> -->

    <!-- Toggle Password Function -->
    <script src="js/showpassword.js"></script>
    <!-- Toggle sign in/sign up -->
    <script src="js/login.js"></script>
    <!-- <script>
        document.getElementById("createAccountButton").addEventListener("click", function () {
            window.location.href = "./register";
        });
    </script> -->

    <script src="js/validation.js"></script>
</body>

</html>